<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Quản lý người dùng</title>
<meta name="description" content="Ela Admin - HTML5 Admin Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<!-- Left Panel -->


	<!-- Header-->
	<div class="content" layout:fragment="layout-content"
		style="min-height: 500px">
		<div class="animated fadeIn">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header row">
							<div class="col-lg-6 text-left">
								<strong class="card-title">Danh tài khoản</strong>
							</div>
							<div class="col-lg-6 text-right">
								<input class="btn btn-primary btn-sm" type="button"
									data-toggle="modal" data-target="#createModal"
									value="Thêm mới">
							</div>
						</div>
						<div class="table-stats order-table ov-h">
							<table class="table ">
								<thead>
									<tr>
										<!-- <th class="serial">#</th> -->
										<th class="avatar">Hình Ảnh</th>
										<th>ID</th>
										<th>Tên</th>
										<th>Quyền</th>
										<th>Điểm</th>
										<th>Ghi Chú</th>
										<th>Trạng Thái</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="user : ${lstUser}">
										<!-- <td class="serial" th:text="${user.idUser}"></td> -->
										<td class="avatar">
											<div class="round-img">
												<a href="#"><img class="rounded-circle"
													th:src="@{/img/avatar/profile-avatar.png}" alt=""></a>
											</div>
										</td>
										<td th:text="${user.idUser}"></td>
										<td><span class="name"
											th:text="${user.getEmployee().getLastName()} + ${user.getEmployee().getFirstName()}"></span>
										</td>
										<td><span class="product"
											th:text="${user.getRole().getNameRole()}"></span></td>
										<td><span class="count"
											th:text="${user.getEmployee().getPoint()}"></span></td>
										<td><span class="note"
											th:text="${user.getEmployee().getNote()}"></span></td>
										<td><input
											th:onclick="'editUser (\'' + ${user.idUser}+ '\');'"
											class="btn btn-info btn-sm" data-toggle="modal"
											data-target="#editModal" type="button" value="Sửa" /> <input
											th:onclick="'deleteUser (\'' + ${user.idUser}+ '\');'"
											class="btn btn-danger btn-sm" type="button" value="Xóa" /></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /.table-stats -->
						<div class="modal fade" id="createModal" tabindex="-1"
							role="dialog" aria-labelledby="createModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="createModalLabel">Thêm tài
											khoản</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<form th:action="@{/user/insert}" th:object="${ueserRequest}"
										method="post">
										<div class="modal-body">
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Last
													name</label> <input type="text" class="form-control"
													placeholder="Tên tài khoản " name="lastName" value=""
													required>
											</div>
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">First
													name</label> <input type="text" class="form-control"
													placeholder="Tên tài khoản " name="firstName" value=""
													required>
											</div>

											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">User
													name</label> <input type="text" class="form-control"
													placeholder="Tên tài khoản " name="userName" value=""
													required>
											</div>
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Email</label>
												<input type="email" class="form-control"
													placeholder="Địa chỉ email" name="email" value="" required>
											</div>
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Password</label>
												<input type="password" class="form-control"
													placeholder="Nhập mật khẩu" name="password" value=""
													required>
											</div>
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Confirm
													Password</label> <input type="password" class="form-control"
													placeholder="Nhập lại mật khẩu" name="confirmPassword"
													value="" required>
											</div>

											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Quyền</label>
												<select id="select" name="idRole" class="form-control">
													<option value="0">--Quyền--</option>
													<option th:each="role: ${lstRoles}" th:value="${role.id}"
														th:text="${role.nameRole}"></option>
												</select>
											</div>

										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Hủy</button>
											<button type="submit" class="btn btn-primary">Lưu</button>
										</div>
										<!-- <p th:text="${messages}" style="text-align: center; margin-top: 20px; color:red;"></p> -->
									</form>


								</div>
							</div>
						</div>

						<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
							aria-labelledby="createModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="createModalLabel">Sửa thông
											tin tài khoản</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<form th:action="@{/user/edit}" th:object="${ueserRequest}"
										method="post">
										<div class="modal-body">
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Last
													name</label> <input type="text" class="form-control"
													id="idEditUser" name="idUser" value="" hidden="hidden"
													required /> <input type="text" class="form-control"
													placeholder="Tên tài khoản " id="lastName" name="lastName"
													value="" required>
											</div>
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">First
													name</label> <input type="text" class="form-control"
													placeholder="Tên tài khoản " id="firstName"
													name="firstName" value="" required>
											</div>

											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">User
													name</label> <input type="text" class="form-control"
													placeholder="Tên tài khoản " id="userName" name="userName"
													value="" required>
											</div>
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Email</label>
												<input type="email" class="form-control"
													placeholder="Địa chỉ email" id="email" name="email"
													value="" required>
											</div>
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Password</label>
												<input type="password" class="form-control"
													placeholder="Nhập mật khẩu" id="password" name="password"
													value="" required>
											</div>
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Confirm
													Password</label> <input type="password" class="form-control"
													placeholder="Nhập lại mật khẩu" id="confirmPassword"
													name="confirmPassword" value="" required>

											</div>
											
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Quyền</label>
												<select id="selectRole" name="roleLevel"
													class="form-control">
													<option value="0">--Quyền--</option>
													<option th:each="role: ${lstRoles}" th:value="${role.id}"
														th:text="${role.nameRole}"></option>
												</select>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Hủy</button>
											<button type="submit" class="btn btn-primary">Lưu</button>
										</div>

										<!-- <p th:text="${messages}" style="text-align: center; margin-top: 20px; color:red;"></p> -->
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- .animated -->
		<script type="text/javascript">
			$(document).ready(function() {
				$("li.active").removeClass("active");
				$("#user").addClass("active");
			})
			function deleteUser(idUser) {
				$.post('/user/delete', {
					idUser : idUser
				}).done(function(response) {
					if (response == "Success") {
						alert("Xóa danh mục thành công");
						window.location = "/user/manager";
					} else {
						alert("Xóa danh mục thất bại");
					}
				});
			}
			function editUser(idUser) {
				$("#idEditUser").val(idUser);
				$.get('/user/get/' + idUser).done(
								function(response) {
									if (response.idUser == idUser) {
										$("#idUser").val(response.idUser);
										$("#lastName").val(response.employee.lastName);
										$("#firstName").val(response.employee.firstName);
										$("#email").val(response.email);
										$("#userName").val(response.userName);
										$("#password").val(response.password);
										$("#confirmPassword").val(response.password);
										$("#selectRole").prop("selectedIndex",response.role.level);
										console.log(response);
									}
								});
			}
		</script>
	</div>
	<!-- .content -->
</body>
</html>
