<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Trang chủ</title>
<meta name="description" content="Ela Admin - HTML5 Admin Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<!-- Content -->
	<div class="content" layout:fragment="layout-content">
		<!-- Animated -->
		<div class="animated fadeIn">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header row">
							<div class="col-lg-6 text-left">
								<strong class="card-title">Danh sách công việc</strong>
							</div>
							<div class="col-lg-6 text-right">
								<input class="btn btn-primary btn-sm" type="button"
									data-toggle="modal" data-target="#createModal"
									value="Thêm mới">
							</div>
						</div>
						<div class="table-stats order-table ov-h">
							<table id="bootstrap-data-table" class="table table-striped table-bordered">
								<thead>
									<tr>
										<!-- <th>ID</th> -->
										<th>Công việc</th>
										<th>Thời gian thực hiện</th>
										<th>Thời gian hoàn thành</th>
										<th>Người tiếp nhận</th>
										<th>Ban GĐ</th>
										<th>NS-TH</th>
										<th>KT-KH</th>
										<th>KT-ĐT</th>
										<th>ĐHTT</th>
										<th>CNTT</th>
										<th>TTVT</th>
										<th>Trạng thái</th>
										<th>Người tạo</th>
										<th>Thao tác</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="work : ${lstWork}">
										<!-- <td class="serial" th:text="${work.id}"></td> -->
										<td><span class="name" th:text="${work.noiDungCv}"></span></td>
										<td><span class="name" th:text="${#dates.format(work.timeThucHien, 'dd/MM/yyyy')}"></span></td>
										<td><span class="name" th:text="${#dates.format(work.timeHoanThanh, 'dd/MM/yyyy')}"></span></td>
										<td><span class="name" th:text="${work.userThucHien.userName}"></span></td>
										<td><span class="name" th:text="${work.bgd}"></span></td>
										<td><span class="name" th:text="${work.nsth}"></span></td>
										<td><span class="name" th:text="${work.ktkh}"></span></td>
										<td><span class="name" th:text="${work.ktdt}"></span></td>
										<td><span class="name" th:text="${work.dhtt}"></span></td>
										<td><span class="name" th:text="${work.cntt}"></span></td>
										<td><span class="name" th:text="${work.ttvt}"></span></td>
										<td><span class="name" th:text="${work.ketQua}"></span></td>
										<td><span class="name" th:text="${work.user.userName}"></span></td>
										<td>
											<input th:if="*{userLogin.role.level <= work.userThucHien.role.level or userLogin.role.level <= work.user.role.level}" class="btn btn-info btn-sm"
											th:onclick="'editWork (\'' + ${work.id}+ '\');'"
											data-toggle="modal" data-target="#editModal" type="button"
											value="Sửa">
											<input th:if="*{userLogin.role.level <= work.userThucHien.role.level or userLogin.role.level <= work.user.role.level}" class="btn btn-danger btn-sm"
											th:onclick="'deleteWork (\'' + ${work.id}+ '\');'"
											type="button" value="Xóa">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal fade" id="createModal" tabindex="-1"
							role="dialog" aria-labelledby="createModalLabel"
							aria-hidden="true">
							<div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="createModalLabel">Thêm công việc</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<form th:action="@{/work/insert}" th:object="${work}"
										method="post">
										<div class="modal-body">
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Đơn vị</label><span style="color: red"> (*)</span> 
												<select required="required" name="idDonVi" id="select" 
													class="form-control">
													<option value="0">--Chọn đơn vị--</option>
													<option th:each="donVi: ${lstDonVi}"
														th:value="${donVi.id}" th:text="${donVi.tenDonVi}"></option>
												</select>
											</div>
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">STT Công việc</label><span style="color: red"> (*)</span>
												<input type="number" class="form-control" placeholder="STT Công việc " name="sttCongViec" value="" required>
											</div>
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Nội dung công việc</label><span style="color: red"> (*)</span> <input type="text" class="form-control"
													placeholder="Tên công việc " name="noiDungCv" value=""
													required>
											</div>
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Người thực hiện</label> <span style="color: red"> (*)</span>
												<select required="required" name="idUserThucHien" id="select"
													class="form-control">
													<option value="">--Người thực hiện--</option>
													<option th:each="user: ${lstUser}"
														th:value="${user.idUser}" th:text="${user.userName}"></option>
												</select>
											</div>
											<div class="row">
    											<div class="col">
													<div class="form-group">
														<label for="cc-number" class="control-label mb-1">Thời gian thực hiện</label> <span style="color: red"> (*)</span>
														<div class="input-group">
															<input type="date" class="form-control" required="required"
																placeholder="dd/MM/yyyy" name="timeThucHien">
														</div>
													</div>
												</div>
												<div class="col">
													<div class="form-group">
														<label for="cc-number" class="control-label mb-1">Thời gian hoàn thành</label> <span style="color: red"> (*)</span>
														<div>
															<div class="input-group">
																<input type="date" required="required" class="form-control"
																	placeholder="dd/MM/yyyy" name="timeHoanThanh">
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
    											<div class="col">
													<div class="form-group">
														<label for="cc-number" class="control-label mb-1">Ban giám đốc</label>
														<select id="select" name="bgd" class="form-control" multiple>
															<option value="">--Chọn RACI--</option>
															<option th:each="raci: ${lstRaci}"
															th:value="${raci.kiHieu}" th:text="${raci.ten}"></option>
														</select>
													</div>
												</div>
												<div class="col">
													<div class="form-group">
														<label for="cc-number" class="control-label mb-1">Phòng NS-TH</label>
														<select id="select" name="nsth" class="form-control" multiple>
															<option value="">--Chọn RACI--</option>
															<option th:each="raci: ${lstRaci}"
															th:value="${raci.kiHieu}" th:text="${raci.ten}"></option>
														</select>
													</div>
												</div>
											</div>
											<div class="row">
    											<div class="col">
													<div class="form-group">
														<label for="cc-number" class="control-label mb-1">Phòng KT-KH</label>
														<select id="select" name="ktkh" class="form-control" multiple>
															<option value="">--Chọn RACI--</option>
															<option th:each="raci: ${lstRaci}"
															th:value="${raci.kiHieu}" th:text="${raci.ten}"></option>
														</select>
		
													</div>
												</div>
												<div class="col">
													<div class="form-group">
														<label for="cc-number" class="control-label mb-1">Phòng KT-ĐT</label>
														<select id="select" name="ktdt" class="form-control" multiple>
															<option value="">--Chọn RACI--</option>
															<option th:each="raci: ${lstRaci}"
															th:value="${raci.kiHieu}" th:text="${raci.ten}"></option>
														</select>
		
													</div>
												</div>
											</div>
											<div class="row">
    											<div class="col">
													<div class="form-group">
														<label for="cc-number" class="control-label mb-1">TT ĐHTT</label>
														<select id="select" name="dhtt" class="form-control" multiple>
															<option value="">--Chọn RACI--</option>
															<option th:each="raci: ${lstRaci}"
															th:value="${raci.kiHieu}" th:text="${raci.ten}"></option>
														</select>
		
													</div>
												</div>
												<div class="col">
													<div class="form-group">
														<label for="cc-number" class="control-label mb-1">TT CNTT</label>
														<select id="select" name="cntt" class="form-control" multiple>
															<option value="">--Chọn RACI--</option>
															<option th:each="raci: ${lstRaci}"
															th:value="${raci.kiHieu}" th:text="${raci.ten}"></option>
														</select>
		
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Các TTVT</label>
												<select id="select" name="ttvt" class="form-control" multiple>
													<option value="">--Chọn RACI--</option>
													<option th:each="raci: ${lstRaci}"
													th:value="${raci.kiHieu}" th:text="${raci.ten}"></option>
												</select>

											</div>
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Kết quả</label>
												<input type="text" class="form-control" name="ketQua" value="">
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Hủy</button>
											<button type="submit" class="btn btn-primary">Lưu</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
							aria-labelledby="editModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="editModalLabel">Chỉnh sửa công việc</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<form th:action="@{/actiondetail/insert}" th:object="${actiondetailRequest}"
										method="post">
										<div class="modal-body">
											<input type="text" class="form-control" id="idEditWork" name="id" value="" hidden="hidden" required />
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Đơn vị</label><span style="color: red"> (*)</span> 
												<select required="required" name="idDonVi" id="selectDonViEdit" 
													class="form-control">
													<option value="0">--Chọn đơn vị--</option>
													<option th:each="donVi: ${lstDonVi}"
														th:value="${donVi.id}" th:text="${donVi.tenDonVi}"></option>
												</select>
											</div>
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">STT Công việc</label><span style="color: red"> (*)</span>
												<input type="number" class="form-control" placeholder="STT Công việc" id="sttCongViec" name="sttCongViec" value="" required>
											</div>
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Nội dung công việc</label>
												<input type="text" class="form-control" placeholder="Tên công việc" id="noiDungCvEdit" name="noiDungCv" value="" required />
											</div>
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Người thực hiện</label> 
												<select name="idUser" id="selectEditUser" class="form-control">
													<option value="0">--Người thực hiện--</option>
													<option th:each="user: ${lstUser}"
														th:value="${user.idUser}" th:text="${user.userName}"></option>
												</select>
											</div>
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Ngày thực hiện</label>
												<div class="input-group">
													<input type="date" class="form-control" placeholder="dd/MM/yyyy" id="timeThucHien" name="timeThucHien">
												</div>
											</div>
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Ngày hoàn thành</label>
												<div class="input-group">
													<input type="date" class="form-control" placeholder="dd/MM/yyyy" id="timeHoanThanh" name="timeHoanThanh">
												</div>
											</div>
											<div class="row">
    											<div class="col">
													<div class="form-group">
														<label for="cc-number" class="control-label mb-1">Ban giám đốc</label>
														<select id="selectBgd" name="bgd" class="form-control" multiple>
															<option value="none">--Chọn RACI--</option>
															<option th:each="raci: ${lstRaci}"
															th:value="${raci.kiHieu}" th:text="${raci.ten}"></option>
														</select>
													</div>
												</div>
												<div class="col">
													<div class="form-group">
														<label for="cc-number" class="control-label mb-1">Phòng NS-TH</label>
														<select id="selectNsth" name="nsth" class="form-control" multiple>
															<option value="none">--Chọn RACI--</option>
															<option th:each="raci: ${lstRaci}"
															th:value="${raci.kiHieu}" th:text="${raci.ten}"></option>
														</select>
													</div>
												</div>
											</div>
											<div class="row">
    											<div class="col">
													<div class="form-group">
														<label for="cc-number" class="control-label mb-1">Phòng KT-KH</label>
														<select id="selectKtkh" name="ktkh" class="form-control" multiple>
															<option value="none">--Chọn RACI--</option>
															<option th:each="raci: ${lstRaci}"
															th:value="${raci.kiHieu}" th:text="${raci.ten}"></option>
														</select>
		
													</div>
												</div>
												<div class="col">
													<div class="form-group">
														<label for="cc-number" class="control-label mb-1">Phòng KT-ĐT</label>
														<select id="selectKtdt" name="ktdt" class="form-control" multiple>
															<option value="none">--Chọn RACI--</option>
															<option th:each="raci: ${lstRaci}"
															th:value="${raci.kiHieu}" th:text="${raci.ten}"></option>
														</select>
		
													</div>
												</div>
											</div>
											<div class="row">
    											<div class="col">
													<div class="form-group">
														<label for="cc-number" class="control-label mb-1">TT ĐHTT</label>
														<select id="selectDhtt" name="dhtt" class="form-control" multiple>
															<option value="none">--Chọn RACI--</option>
															<option th:each="raci: ${lstRaci}"
															th:value="${raci.kiHieu}" th:text="${raci.ten}"></option>
														</select>
		
													</div>
												</div>
												<div class="col">
													<div class="form-group">
														<label for="cc-number" class="control-label mb-1">TT CNTT</label>
														<select id="selectCntt" name="cntt" class="form-control" multiple>
															<option value="none">--Chọn RACI--</option>
															<option th:each="raci: ${lstRaci}"
															th:value="${raci.kiHieu}" th:text="${raci.ten}"></option>
														</select>
		
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Các TTVT</label>
												<select id="selectTtvt" name="ttvt" class="form-control" multiple>
													<option value="none">--Chọn RACI--</option>
													<option th:each="raci: ${lstRaci}"
													th:value="${raci.kiHieu}" th:text="${raci.ten}"></option>
												</select>

											</div>
											<div class="form-group">
												<label for="cc-number" class="control-label mb-1">Kết quả</label>
												<input type="text" class="form-control" name="ketQua" id="ketQua" value="">
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Hủy</button>
											<button type="submit" class="btn btn-primary">Lưu</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- /.table-stats -->
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			$(document).ready(function() {
				$("li.active").removeClass("active");
				$("#home").addClass("active");
			});
			
			function deleteWork(id) {
				console.log(id);
				$.post('/work/delete', {
					workId : id
				}).done(function(response) {
					location.reload();
				});
			}
			function editWork(id) {
				$("#selectBgd").val('');
				$("#selectNsth").val('');
				$("#selectKtkh").val('');
				$("#selectKtdt").val('');
				$("#selectDhtt").val('');
				$("#selectCntt").val('');
				$("#selectTtvt").val('');
				$("#idEditWork").val(id);
				
				$.get('/work/get/' + id).done(function(response) {
					if (response.id == id) {
						$("#selectDonViEdit option[value=" + response.idDonVi + "]").attr('selected','selected');
						$("#noiDungCvEdit").val(response.noiDungCv);
						$("#timeThucHien").val(convertDate(response.timeThucHien));
						$("#timeHoanThanh").val(convertDate(response.timeHoanThanh));
						$("#sttCongViec").val(response.stt);
						$("#selectEditUser option[value=" + response.idUserThucHien + "]").attr('selected','selected');
						if (response.bgd != null) {
							$.each(response.bgd.split(""), function(i,e){
							    $("#selectBgd option[value='" + e + "']").prop("selected", true);
							});
						}
						if (response.nsth != null) {
							$.each(response.nsth.split(""), function(i,e){
							    $("#selectNsth option[value='" + e + "']").prop("selected", true);
							});
						}
						if (response.ktkh != null) {
							$.each(response.ktkh.split(""), function(i,e){
							    $("#selectKtkh option[value='" + e + "']").prop("selected", true);
							});
						}
						if (response.ktdt != null) {
							$.each(response.ktdt.split(""), function(i,e){
							    $("#selectKtdt option[value='" + e + "']").prop("selected", true);
							});
						}
						if (response.dhtt != null) {
							$.each(response.dhtt.split(""), function(i,e){
							    $("#selectDhtt option[value='" + e + "']").prop("selected", true);
							});
						}
						if (response.cntt != null) {
							$.each(response.cntt.split(""), function(i,e){
							    $("#selectCntt option[value='" + e + "']").prop("selected", true);
							});
						}
						if (response.ttvt != null) {
							$.each(response.ttvt.split(""), function(i,e){
							    $("#selectTtvt option[value='" + e + "']").prop("selected", true);
							});
						}
						$("#ketQua").val(response.ketQua);
					}
				});
			}
			
			function convertDate(date) {
				var dateTime = new Date(date);
				var dd = dateTime.getDate();
				var mm = dateTime.getMonth()+1;
				var yyyy= dateTime.getFullYear();
				if (dd<10) {
					dd = '0' + dd;
				}
				if (mm<10) {
					mm = '0' + mm;
				}
				return yyyy + '-' + mm + '-' + dd;
			}
		</script>
	</div>
</body>
</html>
